{%extends 'base.html'%}
{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dr. KHUSHI AJMERA</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="{% static 'img/favicon.ico'%}" rel="icon">
        <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Nunito:600,700,800,900'%}" rel="stylesheet"> 

        <!-- Bootstrap CSS File -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
        <link href="{% static 'vendor/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'vendor/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
        <link href="{% static 'vendor/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="{% static 'css/hover-style.css'%}" rel="stylesheet">
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>

<body>

        <main id="main">
           
            <!-- Contact Section Start -->
            {% if name %}
            <br>
            <center>
                <h2> Thanks {{name}}!</h2>
                <p>We received your email and will respond shortly...</p>
            </center>
            {% else %}
            <section id="contact" class="section-bg wow fadeInUp">
                <div class="container">
                    <div class="section-header">
                        <h3>Contact Us-{{ name}}</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-detail">
                                <div class="contact-hours">
                                    <h4>Opening Hours</h4>
                                    <p>Monday-Friday: 9am to 7pm</p>
                                    <p>Saturday: 9am to 4pm</p>
                                    <p>Sunday: Closed</p>
                                </div>
                                
                                <div class="contact-info">
                                    <h4>Contact Info</h4>
                                    <p>427,Vijay Nagar , plot no.7th ,Indore ,M.P</p>
                                    <p><a href="tel:+1-234-567-8900">+91 59276-59276</a></p>
                                    <p><a href="mailto:info@example.com">Familydoctor132@gmail.com</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="contact-form">
                                <form action ="{% url 'contactpage'%}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <!-- <label> Your Name </label> -->
                                            <!-- <input type="text " name="message-name" size="18"><br><br> -->
                                            <input type="text"  name="name" class="form-control" placeholder="Name" required="required" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <!-- <label> Your Email </label> -->
                                            <!-- <input type="email " name="message-email" size="18"><br><br> -->
                                            <input type="email"  name="email" class="form-control" placeholder="Email" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!-- <label> Your Subject </label> -->
                                        <!-- <input type="text " name="message-subject" size="18"><br><br> -->
                                        <input type="text" name="subject" class="form-control" placeholder="Subject" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <!-- <label> message </label>  -->
                                        <!-- <textarea  name="message" size="0"></textarea><br><br> -->
                                        <textarea  name="message" class="form-control" rows="5" placeholder="Message" required="required" ></textarea>
                                    </div>
                                    <div><button type="submit">Send Message</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}
            <!-- #contact end -->
            <br><br><br>
            <!-- Subscriber Section Start -->
            <section id="subscriber">
                <div class="container">
                    <h3>Get Free Consultation</h3>
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email Goes Here">
                        </div>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
            </section>
            <!-- Subscriber Section end -->
            
            <!-- Support Section Start -->
            <section id="support" class="wow fadeInUp">
                <div class="container">
                    <h1>
                        Need help? Call me 24/7 at +91 59276-59276
                    </h1>
                </div>
            </section>
            <!-- Support Section end -->

        </main>

        

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <!-- Uncomment below i you want to use a preloader -->
        <!-- <div id="preloader"></div> -->

                      <!-- JavaScript Libraries -->
               <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
               <script src="{% static 'vendor/jquery/jquery-migrate.min.js'%}"></script>
               <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
               <script src="{% static 'vendor/easing/easing.min.js'%}"></script>
               <script src="{% static 'vendor/stickyjs/sticky.js'%}"></script>
               <script src="{% static 'vendor/superfish/hoverIntent.js'%}"></script>
               <script src="{% static 'vendor/superfish/superfish.min.js'%}"></script>
               <script src="{% static 'vendor/owlcarousel/owl.carousel.min.js'%}"></script>
               <script src="{% static 'vendor/touchSwipe/jquery.touchSwipe.min.js'%}"></script>
       
               <!-- Main Javascript File -->
               <script src="{% static 'js/main.js'%}"></script>
       
           </body>
       </html>
{%endblock%}
